<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>iRIC Software</Name>
	<Version>3.0.0</Version>
	<Title>iRIC Software</Title>
	<Publisher>iRIC organization</Publisher>
	<!-- Directory name is used in component.xml -->
	<StartMenuDir>iRIC</StartMenuDir>
	<TargetDir>@HomeDir@/iRIC</TargetDir>
	<RemoteRepositories>
		<Repository>
			<Url>https://raw.githubusercontent.com/i-RIC/online_update/master/prod</Url>
			<DisplayName>iRIC Repository for production</DisplayName>
		</Repository>
	</RemoteRepositories>
</Installer>
