<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>iRIC Software (yasu)</Name>
	<Version>4.0.0</Version>
	<Title>iRIC Software(yasu)</Title>
	<Publisher>iRIC organization</Publisher>
	<!-- Directory name is used in component.xml -->
	<StartMenuDir>iRIC(yasu)</StartMenuDir>
	<TargetDir>@HomeDir@/iRIC_yasu</TargetDir>
	<RemoteRepositories>
		<Repository>
			<Url>https://raw.githubusercontent.com/i-RIC/online_update/master/yasu</Url>
			<DisplayName>iRIC Repository for yasu</DisplayName>
		</Repository>
	</RemoteRepositories>
</Installer>
