<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>iRIC Software(developer)</Name>
	<Version>3.0.0</Version>
	<Title>iRIC Software(developer)</Title>
	<Publisher>iRIC organization</Publisher>
	<!-- Directory name is used in component.xml -->
	<StartMenuDir>iRIC(developer)</StartMenuDir>
	<TargetDir>@HomeDir@/iRIC_dev</TargetDir>
	<RemoteRepositories>
		<Repository>
			<Url>https://raw.githubusercontent.com/i-RIC/online_update/master/dev</Url>
			<DisplayName>iRIC Repository for development</DisplayName>
		</Repository>
	</RemoteRepositories>
</Installer>
